<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="UDLAPSIFEntities" connectionString="metadata=res://*/Entidades.ModelUDLAPSIF.csdl|res://*/Entidades.ModelUDLAPSIF.ssdl|res://*/Entidades.ModelUDLAPSIF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SISDEVDB01;initial catalog=UDLAPSIF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConsultaUDLAPSIF" connectionString="Data Source=SISDEVDB01; Initial Catalog=UDLAPSIF;integrated security=SSPI" providerName="System.Data.SqlClient" />
    <add name="ConsultaNOMINAS" connectionString="Data Source=SISDEVDB01; Initial Catalog=UDLAPSIF;integrated security=SSPI" providerName="System.Data.SqlClient" />
    <!--<add name="ConsultaNOMINAS" connectionString="Data Source=SRVUDLATESTDB03\STANDARD2019; Initial Catalog=UDLAPSIFRH;integrated security=SSPI" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConsultaNOMINAS" connectionString="Data Source=SRVUDLATESTDB03\FORTIA2019; Initial Catalog=UDLAPSIFRH;integrated security=SSPI" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <!-- Conexion inicial a la Base de datos con la que se inicio el proyecto
  <connectionStrings>
    <add name="UDLAPSIFRHEntities" connectionString="metadata=res://*/Entidades.ModelUDLAPSIFRH.csdl|res://*/Entidades.ModelUDLAPSIFRH.ssdl|res://*/Entidades.ModelUDLAPSIFRH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVUDLATESTDB03\FORTIA2019;initial catalog=UDLAPSIFRH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  -->
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="rutaLog" value="C:\Logs\GeneraPresupuestoNom\" />
    <add key="DominioUserPrincipal" value="@udla.fundacion.mx"/>
    <add key ="cadenaConexionAD"  value="LDAP://OU=WinLive Contacts,DC=udla,DC=fundacion,DC=mx"/>
    <!--<add key ="cadenaConexionAD"  value="LDAP://140.148.9.13/OU=WinLive Contacts,DC=udla,DC=fundacion,DC=mx"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="WCFGeneraPresupuestoNom.Service1">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/WCFGeneraPresupuestoNom/Service1/" />
            <!--<add baseAddress = "http://140.148.57.79/WCFGeneraPresupuestoNom/WCFGeneraPresupuestoNom.Service1.svc?wsdl" />-->
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="basicHttpBinding" contract="WCFGeneraPresupuestoNom.IService1">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --> 
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding  closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Streamed" maxBufferPoolSize="42949672940" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" >
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"  />
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <useRequestHeadersForMetadataAddress />
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
